.topbar {
  width: 100%;
  height: 85px;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
    }

    .right {
      #delete-product-btn {
        margin-left: 15px;
      }
    }
  }

  .buttonSection {
    margin-block: auto;
  }
}

.form {
  margin: auto;
  width: 95%;
  height: auto;
  padding: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  Form {
    width: 50%;
    padding: 20px;

    .formGroup {
      margin-bottom: 15px;

      .errorMsg {
        color: red;
      }
    }
  }
}
